/* Slider */
.slick-slider
{
    position: relative;
    outline: none;
    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;
    
    margin: 0 -10px;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    outline: none;
    float: left;
    margin: 0 10px;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-dots {
    margin: 0;
    list-style-type: none;
    top: 0;
    right: 0;
    background-color: #000;
    padding: 5px 10px;
    position: absolute;
}
.slick-dots li {
    display: inline-block;
    margin: 0 3px;
    line-height: 20px;
}
.slick-dots li.slick-active button {
    background: #ccc;
    color: #000 !important;
}
.slick-dots li button {
    background: #000;
    font-weight: bold;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: none;
    color: #fff;
    outline: none;
    display: block;
    cursor: pointer;
}

.prew_arrow,
.next_arrow {
  display: none;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -19px;
  z-index: 10;
  cursor: pointer;

}
.prew_arrow {
    background: url(../img/arrow_2.png) no-repeat;
    right: 98%;
}
.next_arrow {
    background: url(../img/arrow_1.png) no-repeat;
    left: 98%;
}