@font-face {
  font-family: 'HelveticaNeueCyr-ThinItalic';
  src: url('HelveticaNeueCyr-ThinItalic.eot');
  src: url('HelveticaNeueCyr-ThinItalic.eot?#iefix') format('embedded-opentype'),
       url('HelveticaNeueCyr-ThinItalic.woff2') format('woff2'),
       url('HelveticaNeueCyr-ThinItalic.woff') format('woff'),
       url('HelveticaNeueCyr-ThinItalic.ttf') format('truetype'),
       url('HelveticaNeueCyr-ThinItalic.svg#HelveticaNeueCyr-ThinItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

