@font-face {
  font-family: 'HelveticaNeueCyr-MediumItalic';
  src: url('HelveticaNeueCyr-MediumItalic.eot');
  src: url('HelveticaNeueCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('HelveticaNeueCyr-MediumItalic.woff2') format('woff2'),
       url('HelveticaNeueCyr-MediumItalic.woff') format('woff'),
       url('HelveticaNeueCyr-MediumItalic.ttf') format('truetype'),
       url('HelveticaNeueCyr-MediumItalic.svg#HelveticaNeueCyr-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

